<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yidejia.app.mall"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="com.yidejia.app.mall.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ydj_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
android:uiOptions="splitActionBarWhenNarrow"
<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                
                
            </intent-filter>
            
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"  
                   android:resource="@xml/main_searchable"/>  
        -->
        <activity
            android:name="com.yidejia.app.mall.MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.SearchActivity"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.ComposeActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity android:name="com.yidejia.app.mall.GoodsInfoActivity" >
        </activity>
        <activity android:name="com.yidejia.app.mall.SearchResultActivity" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.MainFragmentActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yidejia.app.mall.WelcomeActivity" >
        </activity>
        <activity android:name="com.yidejia.app.mall.view.PersonActivity" />
        <activity android:name="com.yidejia.app.mall.view.ExchangeActivity" />
        <activity android:name="com.yidejia.app.mall.view.AllOrderActivity" />
        <activity android:name="com.yidejia.app.mall.view.WaitPayActivity" />
        <activity android:name="com.yidejia.app.mall.view.WaitDeliverActivity" />
        <activity android:name="com.yidejia.app.mall.view.AlreadyOrderActivity" />
        <activity android:name="com.yidejia.app.mall.view.AlreadyComActivity" />
        <activity android:name="com.yidejia.app.mall.view.IntegeralActivity" />
        <activity android:name="com.yidejia.app.mall.view.MyCollectActivity" />
        <activity android:name="com.yidejia.app.mall.view.AddressActivity" />
        <activity android:name="com.yidejia.app.mall.view.EvaluationActivity" />
        <activity android:name="com.yidejia.app.mall.view.NewAddressActivity" />
        <activity android:name="com.yidejia.app.mall.view.EditorActivity" />
        <activity android:name="com.yidejia.app.mall.view.LoginActivity" />
        <activity android:name="com.yidejia.app.mall.view.RegistActivity" />
        <activity android:name="com.yidejia.app.mall.view.FindPwActivity" />
        <activity android:name="com.yidejia.app.mall.view.PayActivity" />
        <activity android:name="com.yidejia.app.mall.view.PersonEvaluationActivity" />
        <activity android:name="com.yidejia.app.mall.view.OrderDetailActivity" />
        <activity android:name="com.yidejia.app.mall.view.SearchActivity" />
        <activity android:name="com.yidejia.app.mall.view.GoCartActivity" />
        <activity android:name="com.yidejia.app.mall.view.EditNewAddressActivity" />
        <activity android:name="com.yidejia.app.mall.view.ExchangeFreeActivity" />
    </application>

</manifest>