<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yidejia.app.mall"
    android:versionCode="1"
    android:versionName="1.2" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 读取手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.yidejia.app.mall.MyApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ydj_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="84216f5a45" />
        <!-- abcd1234 -->
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="Baidu Market" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />

        <activity
            android:name="com.yidejia.app.mall.goodinfo.GoodsInfoActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <data
                    android:host="yidejia.com"
                    android:scheme="http" />
                <data
                    android:host="www.yidejia.com"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yidejia.app.mall.goodinfo.CommentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.goodinfo.GoodsDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.search.SearchResultActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.search.SearchActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.MainFragmentActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.FeedBackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.WelcomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Loading" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yidejia.app.mall.GuideActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.pay.UnionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.pay.WebPayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.msg.MsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.msg.MsgDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.order.ExchangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.order.AllOrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.order.WaitPayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.order.WaitDeliverActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.order.AlreadyOrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.order.AlreadyComActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.tickets.IntegeralActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.favorite.MyCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.address.AddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.evaluation.EvaluationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.evaluation.PersonEvaluationActivity"
            android:screenOrientation="portrait" />
        <!--
             <activity
            android:name="com.yidejia.app.mall.view.NewAddressActivity"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name="com.yidejia.app.mall.EditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.RegistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.FindPwActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.pay.CstmPayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- android:windowSoftInputMode="adjustPan" -->
        <activity
            android:name="com.yidejia.app.mall.shiplog.CheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.order.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.view.GoCartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.address.EditNewAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.view.ExchangeFreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.RecommendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.order.ReturnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.address.PayAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.view.NOProduceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.ActiveGoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.skintest.SkinQuesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.skintest.SkinAnswerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.yidejia.app.mall.skintest.SkinHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.skintest.SkinResultAcitivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.view.ImagePagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.AgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unionpay.uppay.PayActivityEx"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UPPay" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.HomeMallActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.HomeCartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.HomeSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.HomeLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.HomeMyMallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.shark.SharkActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.phone.PhoneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.qiandao.QiandaoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.phone.ContactSureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.HomeGuangActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.yirihui.YirihuiActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.AidouActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.view.ChangePayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yidejia.app.mall.pay.DeliveryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.youhui.YouhuiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.view.ViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.youhui.YouhuiGuiZeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yidejia.app.mall.shark.GuizeActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.yidejia.app.mall.log.LogService" >
        </service>

        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yidejia.app.mall.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>